:root {
    --font-size-main: 14px;
    --font-size-big: 16px;
    --font-size-bigger: 18px;
    --font-size-biggest: 20px;

    --layout-main-width: 60em;

    --color-body-default: #000;
    --color-links-default: #A00;

    --background-color-body-default: #EE0;

    --color-border-default: #999;

    --spacing-layout: 2em;
}