.site {
    max-width: var(--layout-main-width);
    margin: 2em auto;

    padding: 2em 1.5em;
}

.site-footer nav,
.site-header nav {
    padding-bottom: 0.5em;
}   

@media (min-width: 1024px) {
    .site-header {
        display: flex;
        align-items: center;
    }
    
    .site-header nav {
        margin-left: auto;
    }    
}

